* {
  margin: 0 auto;
}
.container {
  height: 350px;
  width: 210px;
  border: 2px gray solid;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
button {
  height: 50px;
  width: 50px;
  border: 2px black solid;
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
  color: white;
  font-size: large;
  transition: all 0.1s ease;
}
button:focus {
  outline: none;
}
button:active {
  background-color: #444; /* darker gray instead of black */
}
.output {
  height: 80px;
  width: 180px;
  color: white;
  font-size: 42px;
  text-align: right;
  /* border: 2px white solid; */
  position: relative;
  top: 5px;
  left: 2px;
  bottom: 5px;
  right: 2px;
}
.btn {
  background-color: orange;
}
#del {
  font-size: 16px;
}
